/*=====Zeroing=====*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

/*=====General=====*/

html {
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: #3f3536;
    background: linear-gradient(to right, #cec3c8, #f1e8ec);
    background-attachment: fixed;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #80445f;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    color: #80445f;
    font-size: 20px;
    opacity: 0.5;
    margin-bottom: 5px;
}

section {
    margin-top: 20px;
}

/*=====Header=====*/

.header {
    padding: 30px 15px;
    background: #80445f;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 10px 5px 15px #909cac;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list__item {
    text-transform: uppercase;
    font-weight: 700;
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.list__link {
    font-weight: 700;
    text-decoration: none;
    color: #909cac;
    opacity: 0.7;
    transition: linear 0.8s;
    padding-bottom: 10px;
}

.list__link:hover {
    color: #ad7a8e;
    opacity: 1;
    transition: linear 0.2s;
}

/*=====Header__Media=====*/

@media (max-width: 810px) {
    .list {
        font-size: 18px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/*=====Main=====*/

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}