/*=====Zeroing=====*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

/*=====General=====*/

html {
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: #3f3536;
    background: linear-gradient(to right, #cec3c8, #f1e8ec);
    background-attachment: fixed;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #80445f;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    color: #80445f;
    font-size: 20px;
    opacity: 0.5;
    margin-bottom: 5px;
}

section {
    margin-top: 20px;
}

/*=====Header=====*/

.header {
    padding: 30px 15px;
    background: #80445f;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 10px 5px 15px #909cac;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list__item {
    text-transform: uppercase;
    font-weight: 700;
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.list__link {
    font-weight: 700;
    text-decoration: none;
    color: #909cac;
    opacity: 0.7;
    transition: linear 0.8s;
    padding-bottom: 10px;
}

.list__link:hover {
    color: #ad7a8e;
    opacity: 1;
    transition: linear 0.2s;
}

/*=====Header__Media=====*/

@media (max-width: 810px) {
    .list {
        font-size: 18px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/*=====Main=====*/

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.both__sides {
    position: relative;
    width: 100%;
    max-width: 1170px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*=====Left__side=====*/

.both__sides .left__side {
    position: relative;
    background: rgba(231, 164, 175, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-right: 1px solid #80445f;
}

.photo {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: linear 0.8s;
    border: 2px double #80445f;
}

.photo:hover {
    box-shadow: 2px 3px 10px #80445f;
    transition: linear 0.4s;
}

.left__side .photo img {
    width: auto;
    height: 100%;
    position: absolute;
}

.name__position .position {
    color: #80445f;
    opacity: 0.5;
    line-height: 1.2em;
    padding-bottom: 10px;
    border-bottom: 1px solid #80445f;
}

.contacts ul li {
    list-style-type: none;
    font-size: 20px;
    text-transform: uppercase;
}

.contacts ul li span {
    position: relative;
    width: 85px;
    display:inline-block; 
    align-items: center; 
    margin-bottom: 5px;
}

.skills ul li {
    color: #3f3536;
    font-size: 18px;
    text-transform: uppercase;
}

.projects {
    text-align: center;
    text-transform: uppercase;
}

.projects p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

/*=====Right__side=====*/

.right__side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;  
    text-align: center; 
    margin-left: 20px; 
}

.courses li {
    list-style-type: disc;
    text-align: left;
    line-height: 1.6em;
    color: #80445f;
}

.courses li span {
    color: #3f3536;
}